<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-lg-1">
      <form class="text-white text-center">
        <h1>Add Updates Content</h1>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>heading</label>
            <input type="text" class="form-control" name="heading" [(ngModel)]="heading">
          </div>
          <div class="form-group col-md-6">
            <label >content</label>
            <input type="text" class="form-control" name="content" [(ngModel)]="content">
          </div>
        </div>
        <button type="submit" class="btn btn-dark" (click)="add_upload_data()">Upload</button>
        <!-- <button type="submit" class="btn btn-danger">Reload</button> -->
      </form>
    </div>
    <div class="col-lg-6 offset-lg-1">
      <h1 class="text-white text-center">Updates Content</h1>
    <br>
    <table class="table text-white">
      <thead>
        <tr>
          <th scope="col">heading</th>
          <th scope="col">Content</th>
          <th scope="col" colspan="2">Changes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let objarr of array">
          <td>{{objarr.heading}}</td>
          <td>{{objarr.content}}</td>
          <td colspan="4"><button class="btn btn-outline-dark" (click)="deleteData(objarr._id)">Delete</button>
            <button class="btn btn-outline-dark" [routerLink]="['/upcontent',objarr._id]">Update</button><br>
            <button class="btn btn-outline-dark" [routerLink]="['/uploadImage',objarr._id]">Upload Image</button>
          </td>
          
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
