<!-- NAVBAR STARTS HERE -->
<nav class="navbar navbar-expand-md navbar-fixed-top navbar-dark bg-dark main-nav fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <!-- <i class="fas fa-ellipsis-v"></i> -->
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]='{exact:true}'>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Updates" routerLinkActive="active" [routerLinkActiveOptions]='{exact:true}'>Updates</a>
            </li>
        </ul>
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item">
              <img src="../../assets/images/logo2.jpg">
            </li>
        </ul>
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/Learn" routerLinkActive="active" [routerLinkActiveOptions]='{exact:true}'>Learn</a> 
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Feedback" routerLinkActive="active" [routerLinkActiveOptions]='{exact:true}'>Feedback</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
<!-- NAVBAR ENDS HERE -->
