<br><br>
<div class="row">
  <div class="col-lg-4 offset-lg-1 col-sm-4">
    <form class="text-white text-center">
      <h1>Add Weapons</h1>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Weapon Name</label>
          <input type="text" class="form-control" name="weapon_name" [(ngModel)]="weapon_name">
        </div>
        <div class="form-group col-md-6">
          <label >Weapon Damage</label>
          <input type="number" class="form-control" name="weapon_damage" [(ngModel)]="weapon_damage">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label >Weapon Recoil</label>
          <input type="text" class="form-control" name="weapon_recoil" [(ngModel)]="weapon_recoil">
        </div>
        <div class="form-group col-md-6">
          <label>Weapon FireRate</label>
          <input type="text" class="form-control" name="weapon_FireRate" [(ngModel)]="weapon_FireRate">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label >Weapon Mobility</label>
          <input type="text" class="form-control" name="weapon_mobility" [(ngModel)]="weapon_mobility" >
        </div>
      </div>
      <button type="button" class="btn btn-dark" (click)="add_data()">Upload</button>
    </form>
  </div>
  <div class="col-lg-5 offset-lg-1 text-white text-center table-responsive-sm">
    <h1>Display Weapons</h1>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Damage</th>
          <th scope="col">Recoil</th>
          <th scope="col">Firerate</th>
          <th scope="col">Mobility</th>
          <th scope="col" colspan="2">Changes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let objarr of arr">
          <td>{{objarr.weapon_name}}</td>
          <td>{{objarr.weapon_damage}}</td>
          <td>{{objarr.weapon_recoil}}</td>
          <td>{{objarr.weapon_FireRate}}</td>
          <td>{{objarr.weapon_mobility}}</td>
          <td colspan="2"><button class="button btn-dark" (click)="deleteData(objarr._id)">Delete</button>
            <a class="button btn-dark" [routerLink]="['/update',objarr._id]">Update</a><br>
            <a class="button btn-dark" [routerLink]="['/upload',objarr._id]">Upload Image</a>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>