<div class="col-lg-12">
  <br><br>
  <h1 class="text-center text-white"></h1>
  <br><br>
  <div class="row justify-content-lg-center">
    <div class="col-lg-4">
      <img src="../../assets/images/calloutinferno.png" class="img-fluid">
      <br><br>
      <h5 class="text-white text-center">Inferno</h5>
    </div>
    <div class="col-lg-4">
      <img src="../../assets/images/callouttrain.jpg" class="img-fluid">
      <br><br>
      <h5 class="text-white text-center">Train</h5>
    </div>
    <div class="col-lg-4">
      <img src="../../assets/images/calloutmirage.png" class="img-fluid">
      <br><br>
      <h5 class="text-white text-center">Mirage</h5>
    </div>
    <div class="col-lg-4">
      <img src="../../assets/images/calloutoverpass.png" class="img-fluid">
      <br><br>
      <h5 class="text-white text-center">Overpass</h5>
    </div>
    <div class="col-lg-4 ">
      <img src="../../assets/images/calloutnuke.png" class="img-fluid">
      <br><br>
      <h5 class="text-white text-center">Nuke</h5>
    </div>
    <div class="col-lg-4">
      <img src="../../assets/images/calloutd2.png" class="img-fluid">
      <br><br>
      <h5 class="text-white text-center">Dust II</h5>
    </div>
</div>
<br>
<div class="row justify-content-lg-center">
  <div class="col-lg-4">
    <img src="../../assets/images/calloutvertigo.jpg" class="img-fluid">
    <br><br>
    <h5 class="text-white text-center">Vertigo</h5>
  </div>
</div>
</div>
