
<div class="sample">
<div class="jumbotron jumbotron-fluid text-center text-white bg-transparent">
        <div class="container mainheading">
          <h1>Updates</h1> 
          <br><br>
          <p>Stay Updated About The Latest Things In CSGO</p>
          <br><br>
          <span (click)="scrollTo(area)"><h3 ><i class="fas fa-chevron-down"></i></h3></span> 
        </div>
</div>
<span *ngFor="let objarray of array">
    <div class="row contentrow" #area> 
        <div class="col-lg-4 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2">
            <img class="img-thumbnail" src="../../assets/images/VALVE.png">
        </div>
        <div class="col-lg-6 jumbotron text-center text-white bg-transparent">
            <h1>{{objarray.heading}}</h1> 
            <p>{{objarray.content}}</p> 
        </div>
</div> 

</span>

</div>